

.ninjaline_details {
    width: 70px;
    border-bottom: 1px solid var(--bgWhite);
}

.ninjastar_details {
    font-size: 20px;
    color: white;
}
.black_screen{
    background-color: var(--fontColor) ;
}

.side_star {
    display: flex;
    align-items: center;
}

.process_details {
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
    padding-bottom: 2rem;
    align-items: center;
}

.process_title_details {
    font-size: 2rem;
    font-weight: bold;
    color: var(--bgWhite);
}

.description_process_details p {
    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
    color: var(--bgWhite);
}
.description_process_details{
margin-bottom: 55px;
}

.description_process {}
.box_logo{
    position: relative;
    color: #685b05;
    /* opacity: .2; */
    font-size: 65px;
}
.box_hex{
    position: absolute;
    color: var(--mvpYellow);
    /* opacity: 1  !important; */
    top: -5px;
    left: 15px;
    
    z-index: 12;
}
.box_hex_inside{
    position: relative;
    transform:rotate(30deg);
    font-size: 90px;

}
.inside_file{
    position: absolute;
    transform: rotate(-30deg);
    top: 40px;
    left: 25px;
    font-size: 40px;
}
.details_box{
    background: var(--fontColor);
    box-shadow: 0 1px 6px 0 rgba(92, 92, 92, 0.28);
    opacity: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 332px !important;
    margin: 20px;
}
.details_box_title{
    font-size: 24px;
    font-weight: bold;
    color: var(--bgWhite);
    margin-bottom: 12px;
    text-align: center;
}
.details_box_description p {
    margin-bottom: 0 !important;
    color: var(--bgWhite);
    text-align: center;
    font-weight: 300;
    /* line-height: 1.3; */
}
.details_branding_box{
    margin-top: 1.2rem;
}
.row_down{
    padding-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 568px) {


    .process_title_details {
        font-size: 1rem !important;
    }
    .ninjaline_details {
        width: 30px;
    
    }
    .ninjastar_details {
        font-size: 15px;
    }
    .description_process_details p{
        font-size: 10px;
    }
    .process{
        padding-top: 3rem ;
        padding-bottom: 1rem ;
    }

}
