.process_clients{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
    padding-bottom: 1rem;
    align-items: center;

}
.clients_screen{
  background: var(--bgWhite);
}

.ninjaline_clients {
    width: 70px;
    border-bottom: 1px solid var(--fontColor);
}

.ninjastar_clients {
    font-size: 20px;
    color: var(--fontColor);
}

.side_star {
    display: flex;
    align-items: center;
}

.process_title_clients {
    /* font-size: 2rem; */
    font-size: 36px;
    font-weight: 900;
    color: var(--fontColor);
}

.description_process_clients p {
    margin-bottom: 0 !important;
    display: flex;
    font-size: 18px;
    justify-content: center;
    color: var(--fontColor);
    font-weight: 400;
    font-family: var(--fordescription);
}

.clients_logo{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem ;
    padding-bottom: 5rem;
}


  
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }


  @media only screen and (max-width: 568px) {


    .process_title_clients {
        font-size: 1rem !important;
    }
    .ninjaline_clients {
        width: 30px;
    
    }
    .ninjastar_clients {
        font-size: 15px;
    }
    .description_process_clients p{
        font-size: 10px;
    }
   

}


  .slider {
    background: white;
    /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
    /* height: 100px; */
    /* margin: auto; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    /* width: 960px; */
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, #fefefe 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 30s linear infinite;
    display: flex;
    width: calc(250px * 8);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
    display: flex;
    align-items: center;
  }