@media screen and (max-width: 1024px) {
    .title {
        font-size: 1.2rem !important;
    }
}

@media screen and (max-width: 1200px) {
    .title {
        font-size: 2.5rem !important;
    }
    .header_section{
        padding-top: 10rem !important;
    }
    .getstart_button{
        padding-top: 3rem !important;
    }
    .description{
        margin-top: 1rem !important;
    }
 .mouse_load{
    padding: 0 !important;
    margin-bottom: 25px ;
 }
}



@media screen and (max-width: 820px) {
    .title {
        font-size: 2rem !important;
    }
    .header_section{
        justify-content: space-evenly !important;
    }
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 2.5rem !important;
    }

    /* .description {
        width: 215px;
    } */
    .header_section{
        padding-top: 5rem !important;
    }
    .description{
        margin-top: 1rem !important;
    }
    .getstart_button{
        padding-top: 2rem !important;
    }
    .mouse_load{
        padding: 3rem 0rem !important;
    }
}


.gradient__bg {
    background-image: url("../../assets/bg2.jpg");
    min-width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
  }
  
  .color-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #28324B;
    opacity: .9;
  }


.header_section {
    color: #fefefe;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15rem;
}
.media_align{
    display: flex;
    justify-content: space-between;
    position: relative;


}
.media_ico{
    float: right;
    padding-top: 15rem;
  
}
.media_ico img{
    margin-bottom: 20px;
}
.title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 14px;
    text-align: center;
}
.center{
    text-align: center;
    margin-bottom: 0px !important;
    color:   #F4DD4B ;
    line-height: .9;
}
.description {
    margin-top: 2rem;
}

.description p {
    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
}

.getstart_button {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.getstart {
    background-color: #F4DD4B;
    color: #28324B;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 14px;
    font-weight:bold;
}

/* ------------------------mouse scroll --------------------- */

.mouse_load {
    display: flex;
    justify-content: center;
    padding: 6rem 0rem;
}

.mouse_scroll {
    display: block;
}

.m_scroll_arrows {
    display: block;
    width: 1px;
    height: 1px;
    transform: rotate(45deg);
    border-right: 2px solid #9095A1;
    border-bottom: 2px solid #9095A1;
    margin: 0 0 4px 5px;
    width: 13px;
    height: 13px;
}

.arr1 {
    margin-top: 1px;
}

.arr1,
.arr2,
.arr3 {
    animation: mouse-scroll 1s infinite;
}

.arr1 {
    animation-direction: alternate;
    animation-delay: alternate;
}

.arr2 {
    animation-delay: 0.2s;
    animation-direction: alternate;
    margin-top: -6px;
}

.arr3 {
    animation-delay: 0.3s;
    animation-direction: alternate;
    margin-top: -6px;
}

.mouse {
    height: 37px;
    width: 22px;
    border-radius: 14px;
    transform: none;
    border: 2px solid #9095A1;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: #9095A1;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #9095A1;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.wheel {
    animation: mouse-wheel 0.6s linear infinite;
}

@keyframes mouse-wheel {
    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


  .shapes{
    transform: rotate(30deg);
  }