.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.nav_border {
    border-bottom: 1px solid;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
  }
  .nav_color{
    background-color: var(--fontColor);
  }
.navbar__links{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}
.navbar__logo{
    color: white;
    font-weight: bold;
}
.mobile_logo{
   display: none;
}
.tab_logo{
    display: none;
  }
.navbar__pages{
    color: #fefefe;
    font-weight: bold;
}
.navbar__pages ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0px;

}
.contact_btn{
  padding:  20px 20px;
    font-weight:bold ;
}
.contact_btn:hover{
background-color: var(--mvpYellow);
color: var(--fontColor);
border-radius: 20px;
font-weight: bold;
padding:  20px 20px;
/* border: 1px solid var(--mvpYellow); */
}
.navbar__pages  li {
    margin-left: 50px;
    /* font-size: 1rem; */
    font-size: 14px;
    font-weight:600 ;
    font-family: var(--figtree);
    color: #DADADA;
    /* letter-spacing: .5px; */
}

.navbar__pages  li:hover {
color: var(--mvpYellow);
}



.navbar__right{
    display: flex;
}
.navbar__mobile_menu{
    margin-left: 1rem;
    display: none;
    position: relative;

}
.motion{

        -webkit-animation: motion 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: motion 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}
 @-webkit-keyframes motion {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes motion {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
.navbar__mobile_menu svg {
 cursor: pointer;
}
.navbar__mobile_menu_links{
   
  position: fixed;
  z-index: -999;
  width: 100%;
  height: 100%;
  background: var(--fontColor);
 display: grid;
 /* align-items:  center; */
    top: 0px;
    left: 0;
    transition: .3s ease-in-out;
}
.navbar__mobile_menu_links_drop ul{
display: flex;
flex-direction: column;
list-style-type: none;
text-align: center;
justify-content: center;
list-style-type: none;
text-align: center; 
color: var(--bgWhite);
/* padding: 0 1rem; */
height: 100%;
padding: 0;
cursor: pointer; 
}


.navbar__mobile_menu_links_drop ul li{
 padding-bottom: 50px;
}
.navbar__mobile_menu_links_drop ul li:hover{
    color: var(--mvpYellow);
   }
@media screen and (max-width: 768px) {
    .navbar__pages{
        display: none;
    }
    .navbar__mobile_menu{
        display: flex;
    }
    .mobile_logo{
        display: none;
     }
  .logo{
    display: none;
  }
  .tab_logo{
    display: block;
  }
  .navbar__links{
    padding-right: 15px;
}
.toggle{
    font-size: 24px;
}
}
@media screen and  (max-width: 500px){
    .mobile_logo{
        display: block;
     }
  .logo{
    display: none;
  }
  .tab_logo{
    display: none;
  }
  .navbar__links{
    padding: 0px 15px;
}
.toggle{
    font-size: 24px;
}
}