/* :root {
  scroll-behavior: smooth;
  @font-face {
    font-family: poppins;
    src: url(sansation_light.woff);
  }
} */



:root{
  --figtree:'Figtree', sans-serif;
  --fordescription:'Questrial', sans-serif;
  --fontColor: #28324b;
  --mvpYellow: #f4dd4b;
  --bgWhite: #fefefe;
  --black: #202020;
  /* --mouse: #9095A1; */
  --mouse:  #f4dd4b60;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Questrial', sans-serif; */
  font-family: 'Figtree', sans-serif;

}
Container{
  margin: 0% !important;
}
/* .App{
  position: relative;
} */









