/* :root {
  scroll-behavior: smooth;
  @font-face {
    font-family: poppins;
    src: url(sansation_light.woff);
  }
} */



:root{
  --figtree:'Figtree', sans-serif;
  --fordescription:'Questrial', sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Questrial', sans-serif; */
  font-family: 'Figtree', sans-serif;


}

body {
  background-color: var(--color-bg);

}

/* .App{
  overflow: scroll;
} */




