
 .white_screen {
    background-color: var(--bgWhite);
  }
.ninjaline {
    width: 70px;
    border-bottom: 1px solid var(--fontColor);
}

.ninjastar {
    font-size: 20px;
    color: var(--fontColor);
}

.side_star {
    display: flex;
    align-items: center;
}

.process {
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 2rem;
    align-items: center;
}

.process_title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--fontColor);
}

.description_process p {
    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
    color: var(--fontColor);
}

.description_process {}

.duration {
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: space-around;
    /* margin-left: -165px;
    margin-right: 220px; */
}
.duration_down{
    padding-top: 5rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content:space-evenly;
    /* margin-left: 165px;
    margin-right: 160px; */
}

.description_small {
    font-size: 11px;
    text-align: center;
    color: var(--fontColor);
}

.description_duration_title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: var(--fontColor);
}
.days{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
    color: var(--fontColor);
}
.days_down{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
    color: var(--fontColor);
}
#small{
    font-size: 12px;
    margin-left: 5px;
    font-weight: 500;
    color: var(--fontColor);
    
}
.sub4{
    /* margin-left: 12px; */
}
.sub6{
    width: 35px;
}
.sub7{
    /* width: 100px; */
}
@media screen and (max-width: 1000px) {
    .process_title {
        font-size: 1.5rem !important;
    }
    .duration {
display: none;
    }
    .duration_down {
        display: none;
            }
    .tablet_view{
        /* display: none; */
    }
}